<nav class="p-3 mb-3 border-bottom">
    <div class="navbar-nav">
        <ul  class="navbar-nav mr-auto d-flex align-items-center">
          <li><img src="https://blush.design/api/download?shareUri=SA3ImJWIzG3i6aMj&c=Skin_0%7Ed08b5b&w=800&h=800&fm=png" alt="img user" width="60px" height="60px" class="img-fluid rounded-circle"></li>
          <li class="nav-item pl-3">
            <p class="m-0 font-weight-bold text-black fs-16">Nome do Usuario</p>
          </li>
          
          <li class="nav-item pl-3">
              <a href="">
                <p class="text-black m-0 fs-16"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
              </a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold text-black fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
              </li>
        </ul>

    </div>
</nav>

  