<div class="container-fluid bg">
    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <h1 class="text-center mb-3 message">Cadastre-se</h1>

                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Insira seu nome">
                        </div><br>

                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Insira seu e-mail">
                        </div><br>

                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Insira sua senha">
                        </div><br>

                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Repita a mesma senha">
                        </div><br>

                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Insira uma foto">
                        </div><br>

                        <div>
                            <label class="text-light" for="">Selecione o tipo de usuário:</label>
                            <select class="form-control" name="selecionar" id="selecionar">
                                <option value="">Administrador</option>
                                <option value="">Usuário padrão</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-center mt-4">
                            <a routerLink="/entrar"><button type="submit" class="btn mr-5 btn-danger botao">Cancelar</button></a>
                            
                            <button type="submit" class="btn btn-success botao">Confirmar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>